# Java & Maven
target/
*.class
*.jar
*.war
*.log
*.tmp

# Maven Wrapper
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/
mvnw
mvnw.cmd

# Application Properties (avoid pushing secrets)
application.properties
application-dev.properties
application-prod.properties

# IDEs

## IntelliJ
.idea/
*.iml
*.ipr

## Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

## VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# OS
.DS_Store
Thumbs.db
